body {
  font-family: 'Jet Brains Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: var(--cl-dark-gray-1);
}
